@use "../../styles/colors" as colors;

.containerBreads {
    position: relative;
    display: flex;
    width: auto;

    p {
        color: colors.$darkNavyBlue;
        font-family: var(--font-caveat);
        font-weight: 400;
        font-size: 24px;
        cursor: pointer;
    }

    .space {
        margin: auto 0.5rem;
        color: colors.$darkTurquoise;
        font-family: var(--font-caveat);
        font-weight: 700;
        font-size: 24px;
    }
    .lastPage {
        color: colors.$darkTurquoise;
        font-family: var(--font-caveat);
        font-weight: 700;
        font-size: 24px;
    }
}
