@use "../../styles/colors" as colors;

.containerToolBar {
    position: fixed;
    right: 10%;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 1000;

    .buttonEdit {
        display: flex;
        height: 50px;
        width: 50px;
        border-radius: 24px;
        align-items: center;
        justify-content: center;
        background-color: colors.$deepNavyBlue;
        color: colors.$white;
        cursor: pointer;
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        filter: grayscale(0.6);
        background-color: colors.$taupeGray;
        color: colors.$darkNavyBlue;
    }
}
