@use "../../styles/colors" as colors;

.containerPaper {
    display: flex;
    flex-direction: column;
    border: 1px solid colors.$taupeGray;
    border-radius: 12px;
    padding: 24px 20px;
    // padding-left: 12px;
    width: 60%;
    gap:20px;
    // height: 70vh;


    h1 {
        font-family: var(--font-caveat);
        color: colors.$darkOrange;
    }

    p {
        font-family: var(--font-caveat);
        color: colors.$darkOrange;
        font-size: 24px;
    }
}
