@use "../../styles/colors" as colors;

.containerEditor {
    display: flex;
    flex-direction: column;
    border: 1px solid colors.$darkNavyBlue;
    border-radius: 12px;
    padding-left: 12px;
    width: 70%;
}
