$basicWhite: #ffffff;
$basiceRed: #fa5252;

$green: #cfcd88;
$lightGreen: #dddba8;
$secondaryGreen: #e1dba4;

$greenWhite:  #ebe3d5;
$whiteYellow: #f1e4c3;
$coffeBrown: #c6a969;
$brown: #846358;

$greenblack: #353b27;
$basicGrey: $ced4da;
$black: #1e1e1e