@use "./fonts";
@use "./colors";

//Todos los botones e inputs ya tienen las propiedades de hover, focus, active, disable y error

//Familia Primary
//botón por defecto, modificar ancho y alto según figma
@mixin buttonDefault($flex, $width, $height) {
    display: flex;
    flex-direction: $flex;
    color: $white;
    justify-content: center;
    align-items: center;
    background-color: $primary_800;
    border-radius: 8px;
    width: $width;
    height: $height;
    font-size: map-get($p1_medium, size);
    line-height: map-get($p1_medium, line-height);
    font-style: normal;
    font-weight: map-get($p1_medium, weight);
    cursor: pointer;

    &:hover {
        background-color: $primary_700;
    }
    &:focus {
        background-color: $primary_800;
    }
    &:active {
        background-color: $primary_900;
    }
    &:disabled {
        background-color: $ultra_light_grey;
        color: $light_grey;
    }
}

@mixin buttonIcon($flex, $width, $height) {
    display: flex;
    flex-direction: $flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: $width;
    height: $height;
    font-size: map-get($p1_medium, size);
    line-height: map-get($p1_medium, line-height);
    font-style: normal;
    font-weight: map-get($p1_medium, weight);
    background-color: $white;
    border: 1px solid;
    border-color: $primary_800;
    color: $primary_800;
    cursor: pointer;

    &:disabled {
        background-color: $white;
        border-color: $ultra_light_grey;
        color: $light_grey;
    }

    &:hover {
        background-color: $white;
        border-color: $primary_700;
        color: $primary_700;
    }

    &:focus {
        background-color: $white;
        border-color: $primary_800;
        color: $primary_100;
    }

    &:active {
        background-color: $white;
        border-color: $primary_900;
        color: $primary_900;
    }
}

//Familia Secondary
//modificar ancho y altura en función de si lleva iconos o no, según figma
@mixin buttonNoIcon($flex, $width, $height) {
    display: flex;
    flex-direction: $flex;
    color: $primary_800;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border: 1px solid $primary_800;
    border-radius: 8px;
    width: $width;
    height: $height;
    font-size: map-get($p1_medium, size);
    line-height: map-get($p1_medium, line-height);
    font-style: normal;
    font-weight: map-get($p1_medium, weight);
    cursor: pointer;

    &:hover {
        border: 1px solid $primary_700;
    }
    &:focus {
        background-color: $primary_800;
    }
    &:disabled {
        color: $light_grey;
        border: 1px solid $light_grey;
    }
}

//Familia Terceary
@mixin buttonOnlyText($flex, $width, $height) {
    display: flex;
    flex-direction: $flex;
    color: $primary_800;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    width: $width;
    height: $height;
    font-size: map-get($p1_medium, size);
    line-height: map-get($p1_medium, line-height);
    font-style: normal;
    font-weight: map-get($p1_medium, weight);
    cursor: pointer;

    &:hover {
        color: $primary_700;
        background-color: transparent;
    }
    &:focus {
        color: $primary_800;
        background-color: $primary_100;
        border-radius: 8px;
        background-color: transparent;
    }
    &:active {
        color: $primary_900;
        background-color: transparent;
    }
    &:disabled {
        color: $light_grey;
        background-color: transparent;
    }
}

//Familia FAB
@mixin buttonFab() {
    display: flex;
    color: $white;
    justify-content: center;
    align-items: center;
    background-color: $primary_800;
    border-radius: 28px;
    width: 56px;
    height: 56px;
    font-size: map-get($p1_medium, size);
    line-height: map-get($p1_medium, line-height);
    font-style: normal;
    font-weight: map-get($p1_medium, weight);
    cursor: pointer;

    &:hover {
        background-color: $primary_700;
    }
    &:focus {
        background-color: $primary_800;
    }
    &:disabled {
        background-color: $light_grey;
    }
}

//Familia On Dark
@mixin buttonOnDark($flex, $width, $height) {
    display: flex;
    flex-direction: $flex;
    color: $medium_grey;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: $width;
    height: $height;
    font-size: map-get($p1_medium, size);
    line-height: map-get($p1_medium, line-height);
    font-style: normal;
    font-weight: map-get($p1_medium, weight);

    &:hover {
        border-radius: 8px;
        color: $white;
        background-color: $medium_grey;
    }
    &:focus {
        border-radius: 8px;
        background-color: $medium_grey;
        color: $white;
        border: 1px solid $white;
    }
    &:active {
        border-radius: 8px;
        background-color: $medium_grey;
        color: $white;
        border: 2px solid $white;
    }

    &:disabled {
        border-radius: 8px;
        background-color: $black;
        color: $light_grey;
        border: 1px solid $light_grey;
    }
}

//Input por defecto
@mixin inputDefault(
    $flex,
    $width,
    $height,
    $fontWeight,
    $fontSize,
    $lineHeight
) {
    display: flex;
    flex-direction: $flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;

    background: $white;
    border: 1px solid $ultra_light_grey;
    border-radius: 8px;
    font-family: "Inter";
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;

    &:disabled {
        background-color: $soft_grey;
        border: 1px solid $ultra_light_grey;
    }
    &:hover {
        border: 1px solid $primary_800;
    }
    //usar estado de react para poder usar estas propiedades
    &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid $primary_800;
    }
    &:invalid {
        border: 1px solid $error;
    }
}

@mixin dropdonwDefault(
    $flex,
    $width,
    $height,
    $fontWeight,
    $fontSize,
    $lineHeight
) {
    display: flex;
    flex-direction: $flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    // padding: 16px;
    gap: 10px;
    width: $width;
    background: $white;
    color: $light_grey;
    border: 1px solid $ultra_light_grey;
    border-radius: 8px;
    font-family: "Inter";
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;

    &:disabled {
        background-color: $soft_grey;
        border: 1px solid $ultra_light_grey;
    }
    &:hover {
        border: 1px solid $primary_800;
    }
    //usar estado de react para poder usar estas propiedades
    &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid $primary_800;
        border-color: $primary_800;
    }
    &:invalid {
        border: 1px solid $error;
    }
}


@mixin cards(){
    display: flex;
}