@use "sass:color";
@use "../../styles/colors" as colors;

$clay: colors.$clayBrown;

.containerInputPassword {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
        color: colors.$mangoYellow;
        font-family: var(--font-caveat);
        font-weight: bolder;
        font-size: 24px;
        letter-spacing: 2;
    }

    .inputPass {
        display: flex;
        flex-direction: row;
        padding: 9px 10px;
        border-radius: 8px;
        border: 2px solid colors.$clayBrown;
        color: colors.$clayBrown;
        background-color: colors.$white;

        &:focus-within {
            outline: none;
            border-color: color.scale($clay, $lightness: 15%);
            background-color: colors.$paperBeige;
            box-shadow: 0 0 0 4px rgba(205, 133, 63, 0.2);
        }
    }

    input {
        width: 100%;
        border: none;
        background: transparent;

        &::placeholder {
            color: colors.$clayBrown;
        }

        &:focus {
            outline: none;
        }
    }

    svg {
        cursor: pointer;
    }
}
