@use "../../styles/colors" as colors;

.containerInputSearch {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 6px;

    .input {
        width: 70%;
        display: flex;
        align-items: center;
        border-bottom: 2px solid colors.$jungleGreen;
        gap: 8px;

        input {
            width: 100%;
            border: none;
            outline: none;
            background: transparent;
            color: colors.$jungleGreen;
            caret-color: colors.$jungleGreen;
            font-family: var(--font-caveat);
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1.5;

            &::placeholder {
                color: colors.$mossGreen;
                font-family: var(--font-caveat);
            }
        }
    }

    .clearBtn {
        background: none;
        border: none;
        color: none;
        padding: 0;
    }
}
