.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    header {
        flex-shrink: 0;
    }

    .mainContent {
        flex-grow: 1;
        display: flex;
        min-height: 0;
    }

    footer {
        flex-shrink: 0;
    }
}
