@use "../../styles/colors" as colors;

.containerModalName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    // background-color: colors.$softMustard;
    padding: 10px;
    border-radius: 20px;

    .containerInputs {
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 100%;
        // z-index: 100;
    }

    .inputName {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1.5;

        &::placeholder {
            color: colors.$white;
            font-family: var(--font-caveat);
        }
    }

    .buttonEdit {
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        // align-items: center;
    }
}
