@use "../../styles/colors" as colors;

.overlay {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.35);
    display: grid;
    place-items: center;
}

.containerModalName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    height: 50px;
    padding: 10px;
    border-radius: 20px;

    .inputName {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1.5;
        font-family: var(--font-caveat);

        &::placeholder {
            color: colors.$white;
            font-family: var(--font-caveat);
        }
    }
}
