.contanerEditor {
    flex: 1;
    display: flex;
    flex-direction: column;
    // width: 100%;

    .contend {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }
}
