.contanerEditor {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;

    .contend {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: center;
        align-content: center;
    }
}
